<div class="page-header">
  <h1>Course #<%= @course.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Title</dt>
  <dd><%= @course.title %></dd>

  <dt>Dept</dt>
  <dd><%= @course.dept %></dd>

  <dt>Number</dt>
  <dd><%= @course.number %></dd>

</dl>

<div class="page-header">
  <h2>This course has met on:</h2>
</div>
<!-- On the show page for a course, show a list of all the dates on which it met -->
<ul>

  <% @course.meetings.each do |meeting| %>
    <li><%= meeting.course.full_title %> <%= meeting.held_on %></li>
  <% end %>

</ul>










